<?xml version="1.0" encoding="utf-8"?>
<configuration>

     <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="username" value="kaileywolfee@gmail.com" />
      <add key="password" value="4waffl3s" />
      <add key="token" value="Ijt5Pgbwr6dxxplEThL00wJG4" />
      <add key="clientId" value="3MVG9mclR62wycM2zJZyV2.ZKgwqowVRVoPckuMv09aJ_Xf0f3v5.ENtlP9JUQUuQwJsWx7cWZZlLXh7DOWWQ" />
      <add key="clientSecret" value="1655758975446906252" />
    </appSettings>
</configuration>
